<nav class="navbar">
  <h2 class="navbar-text">IMDb</h2>
</nav>

<div class="home-container">
  <!-- Movies Section -->
  <section class="movies-section">
    <h1 class="section-title">
      <label style="color: yellow;">|</label> Top 10 on IMDb this week
    </h1>

    <div class="movies-wrapper">
      <button class="scroll-btn left" (click)="scrollLeft()">&#8249;</button>

      <div class="movies-grid" #moviesGrid>
        <a class="movie-card"
           *ngFor="let movie of movies"
           [routerLink]="['/movie', movie.id]">
          <div class="movie-image-container">
            <img [src]="movie.image" [alt]="movie.title" class="movie-image">
            <div class="rating-badge">
              <span class="rating">{{ movie.rating }}</span>
              <span class="star">★</span>
            </div>
          </div>
          <div class="movie-info">
            <h3 class="movie-title">{{ movie.id }}. {{ movie.title }}</h3>
            <button class="view-details-btn">Watchlist</button>
            <button class="view-details-btn2">Trailer</button>
          </div>
        </a>
      </div>

      <button class="scroll-btn right" (click)="scrollRight()">&#8250;</button>
    </div>
  </section>

  <!-- People Section -->
  <section class="people-section">
    <h2 class="section-title">
      <label style="color: yellow;">|</label> Born today
      <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"
           class="ipc-icon ipc-icon--chevron-right-inline ipc-icon--inline ipc-pager-icon"
           viewBox="0 0 24 24" fill="currentColor" role="presentation">
        <path
          d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z">
        </path>
      </svg><br />
      <label style="color: #888; font-size: 17px;">People born on December 11</label>
    </h2>

    <div class="person-wrapper">
      <div class="scroll-btn left" (click)="scrollLeft1()">&#8249;</div>

      <div class="people-grid" #peopleGrid>
        <a class="person-card"
           *ngFor="let person of people"
           [routerLink]="['/person', person.id]">
          <div class="person-image-container">
            <img [src]="person.image" [alt]="person.firstName + ' ' + person.lastName" class="person-image">
          </div>
          <div class="person-info">
            <h4 class="person-name">{{ person.firstName }} {{ person.lastName }}</h4>
            <p class="person-age">{{ person.age }}</p>
          </div>
        </a>
        <div class="scroll-btn right" (click)="scrollRight1()">&#8250;</div>
      </div>
    </div>
  </section>
</div>
